@import "variables/colors";
@import "workspace/logs";
@import "workspace/pod";
@import "workspace/deployment";
@import "workspace/progress-bar";

#workspace {
  height: 100%;
  overflow-y: auto;
}

@keyframes blink {
  from { opacity: 0.2; }
  to { opacity: 1.0; }
}

span.watch-button  {
  color: $font-color-highlight;
  cursor: hand;
  animation: blink 0.7s infinite alternate;
}

span.watch-button:hover  {
  content: '<i class="fa fa-eye-slash-slash" aria-hidden="true"></i>';
}

td.resource-status:before {
  content: "●";
  margin-right: 4px;
}

td.resource-status.resource-status-green:before {
  color: green;
}

td.resource-status.resource-status-red:before {
  color: red;
}

#command-executions {
  list-style-type: none;
  padding-left: 8px;
  margin-top: 8px;

  td.row-status {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 600;
  }

  li.command-execution-item {
    font-family: sans-serif;
    display: inline-block;
    letter-spacing: initial;
    width: 100%;
    padding-left: 12px;
    margin-top: 12px;
    margin-bottom: 38px;
  }

  .command-execution-errors {
    padding-left: 0;
    color: red;
    font-family: sans-serif;

    li {
      border-left: none;
      padding-left: 0;
    }
  }

  span.command-execution-header {
    font-size: 22px;
    color: #444;
    font-family: monospace;
  }

  li.success span.command-execution-header:before {
    content: "➜";
    color: green;
  }

  li.error span.command-execution-header:before {
    content: "➜";
    color: red;
  }

  li.loading span.command-execution-header:before {
    content: "➜";
    animation-name: loading-blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  .command-execution-results {
    margin-top: 8px;
    width: 95%;
  }

  .command-execution-results .empty-result {
    color: $font-color-primary;
    font-weight: 300;
  }





}

