body {
    margin: 0px;
    background-color: #1e1e1e;
    padding-bottom: 71px;
}

li {
    list-style: none;
}

#editor-form {
    height: 70px;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgba(204,204,204,0.2);
}

#editor {
    border: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: rgba(238, 238, 238, 0.29);;
    font-size: 24px;
    padding-left: 32px;
    font-family: monospace;
    z-index: 5;
    position: absolute;

}

#editor-autocomplete {
    height: auto;
    background-color: transparent;
    position: absolute;
    width: 100%;
    bottom: 21px;
    margin: 0;
    /*color: #eee;*/
    padding-left: 32px;
    color: red;
    font-size: 24px;
    font-family: monospace;
    z-index: 2;
}

#editor:focus {
    border: 0;
    outline: none;
}

#editor-header {
    position: absolute;
    z-index: 10;
    bottom: 17px;
    left: 9px;
    color: #ccc;
    font-size: 27px;
    font-family: monospace;
}

#workspace {
    height: 100%;
    overflow-y: auto;
}

.token-wrapper {
    background-color: rgba(30,30,30, 1);
}

.token, .token-wrapper, .token-completion {
    display: inline-block;
}

.token {
    color: green;
}

span.token.error {
    color: red;
}

span.token.variable {
    color: dodgerblue;
}

.token-completion {
    color: #636363;
}

#command-executions {
    list-style-type: none;
    padding-left: 20px;
}

#command-executions li.command-execution-item {
    font-family: sans-serif;
    display: inline-block;
    letter-spacing: initial;
    border-left: 1px solid;
    width: 100%;
    padding-left: 12px;
    margin-top: 12px;
    margin-bottom: 38px;
}

#command-executions li.command-execution-item.success {
    border-left-color:green;
}

#command-executions li.command-execution-item.error {
    border-left-color:red;
}

#command-executions li.command-execution-item.loading {
    animation-name: loading-blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#command-executions .command-execution-errors {
    padding-left: 0;
    color: red;
    font-family: sans-serif;
}

#command-executions .command-execution-errors li {
    border-left: none;
    padding-left: 0;
}

#command-executions span.command-execution-header {
    font-size: 22px;
    color: #444;
    font-family: monospace;
}

#command-executions .command-execution-results {
    margin-top: 8px;
    width: 95%;
}

#command-executions .command-execution-results .empty-result {
    color: #aaa;
    font-weight: 300;
}

#command-executions .result {
    font-size: 14px;
    padding: 4px;
    display: inline-block;
    color: #ddd;

}

@keyframes loading-blink {
    0%   {border-left-color: #1e1e1e;}
    50%  {border-left-color: white;}
    100% {border-left-color: #1e1e1e;}
}

table.result-table thead th {
    text-align: left;
    color: #555;
    font-weight: 600;
}

table.result-table tbody tr td {
    color: #aaa;
    font-weight: 300;
}

td.error {
    color: rgba(255,0,0,0.7) !important;
}

td.warning {
    color: orange !important;
}

td.row-progress {
    padding-right: 8px;
}

div.progress-bar {
    display: inline-block;
    width: 70px;
    height: 10px;
    border: 1px solid #555;
}

div.progress-bar.error {
    border: 1px solid rgba(255,0,0,0.7);
}

div.progress-bar div.progress-indicator {
    display: inline-block;
    height: 100%;
    background-color: #555;
}

.result-logs {
    border: black;
    background-color: #111;
    box-shadow: inset 0px 0px 4px 2px black;
    width: 100%;
    border-radius: 8px;
    padding: 0px 8px 8px;
}

.result-logs .result-logs-data {
    color: #ccc;
    font-family: monospace;
    max-height: 300px;
    overflow-y: auto;
}

ul.result-logs-container-select {
    padding: 10px 0 0 2px;
    font-weight: 100;
    position: relative;
}

ul.result-logs-container-select li {
    border: 0 !important;
    color: #777;
    padding: 0;
    display: inline;
    list-style-type: none;
    margin-right: 16px;
}

ul.result-logs-container-select li:hover {
    cursor: pointer;
}

ul.result-logs-container-select li.selected {
    border: 0;
    color: steelblue;
    padding: 0;
}