#editor-form {
    height: 100px;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0;
    margin: 0;
}

#editor {
    border: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: rgba(238, 238, 238, 0.29);;
    font-size: 24px;
    padding-left: 32px;
    font-family: monospace;
    z-index: 5;
    position: absolute;
}

#editor-autocomplete {
    height: auto;
    width: inherit;
    background-color: transparent;
    position: absolute;
    width: 100%;
    bottom: 36px;
    margin: 0;
    /*color: #eee;*/
    padding-left: 32px;
    color: red;
    font-size: 24px;
    font-family: monospace;
    z-index: 2;
}

#editor:focus {
    border: 0;
    outline: none;
}

#editor-header {
    position: absolute;
    z-index: 10;
    bottom: 30px;
    left: 4px;
    color: #eee;
    font-size: 32px;
    font-family: monospace;
}

#workspace {
    background-color: #1e1e1e;
    height: 100%;
}

.token, .token-wrapper, .token-completion {
    /*border: 1px solid red;*/
    display: inline-block;
}